
.webapp {
	margin: 50px 0px;
}

.keys-and-scroller {
	margin: 0px auto;
}


.note-graphic {
	height: 20px;
	width: 40px;
	background-color: #4444ee;
	border-radius: 8px;	
}

.scroll-area {

	background: red;
	height: 495px;
	width: 81%;
	width: 74.8%;
	max-width: 961px;
	overflow: auto;
	overflow-y: hidden;
	margin: 0px auto; 
}

.scroll-content {
	background: orange;
	background-image: url(../img/scroll-background.png);
	height: 480px;
	width: 6401px;
}










