/* Copyright 2015 Jeremy Kohn. All rights reserved. */


.spacer {
	min-height: 50px;
}



body, .central-flex-container {
	background-image: linear-gradient(120deg, #155799, #159957);
}

.central-flex-container {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-content: flex-start;
	align-items: flex-start;
}

.central-flex-container {
	height: 496px;
}

.column {
	min-height: 496px;
}

.left-column, .right-column {
	min-width: 151px;
	min-height: 481px;
	position: relative;
}

.left-column {
	background-image: url(../img/piano-keys-left.png)
}

.right-column {
	background-image: url(../img/piano-keys-right.png);
}	

.center-column {
	flex-grow: 2;
	height: 481px;
	max-width: 961px;
	overflow: auto;
	overflow-y: hidden;
	margin: 0px;
}

.grid {
	background-image: url(../img/grid-background.png);
	height: 481px;
	/* width: 6401px; */ /* For now. Resize dynamically during recording. */
	width: 1200px;
	position: relative;

	/* 	
	-webkit-transform:translate(50px, 50px);	

	Need Mozilla prefix as well. Or un-prefixed.
	
	Expands scroll container.
	With no hiding/overflow, it just scrolls more.

	Need to keep expanding width of grid.
	While scrolling.

	Or use negative translate?
	Would that work?
	(While also expanding width of grid)

	Would width of scroll container have to be 0?

	Play around with this.
	Animate translate, animate expanding width of grid.
	*/

}

.control-panel {
	height: auto;
	max-width: 900px;
	margin: 0px auto;
	text-align: center;
}


.select-a-mode {
	margin: 0px auto;
	margin-top: 10px;
	margin-bottom: 10px;	
}


.key-left, .key-right {
	position: absolute;
}

.key-white-small, .key-white-large {
	width: 151px;
	border: 1px solid black;
}

.key-white-small {
	height: 31px;
}

.key-white-large {
	height: 39px;
}

.piano-key-overlay {
	opacity: 0;
	background-color: #555555;
}

.note-graphic {
	background: url(../img/note-graphic-gradient-background.png);
	background-repeat: repeat-x;
}

.note-graphic {
	height: 19px;
	min-width: 1px;
	border-radius: 5px;
	position: absolute !important;
}

.control-panel {
	margin-top: 20px;
}
	
.select-a-mode input[type="button"]:focus {
	outline: none;
}

#instructions {
	display: none;
	font-size: 16px;
	font-color: #ffffff;
	font-weight: bold;
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 50px;
}

@media only screen and (max-width: 900px) {
	.left-column, .right-column { 
		display: none; 
	}
}

@media only screen and (max-width: 450px) {
	.btn {
	  padding: 5px 10px;
	  font-size: 12px;
	  line-height: 1.5;
	  border-radius: 3px;
	}
	
	.central-flex-container {
		height: 500px;
	}

	.column {
		min-height: 500px;
	}
}