body {
  background-color: rgb(255, 255, 255);
  font-size: 1em;
}

.container {
  float: left;
}

.container .container {
  position: relative;
  z-index: 1;
  width: 10.6234723286%;
  height: 495px;
  margin: -20px 0 0 -1.09469%;
}

.container .wrapper {
  position: relative;
  clear: both;
  z-index: 4;
  width: 54.8684834555%;
  height: 454px;
  margin: -480px 0 0 21.84319%;
}

.element {
  position: relative;
  float: left;
  width: 152px;
  height: 480px;
  background-color: rgb(222, 222, 222);
}

.wrapper {
  float: left;
  overflow: hidden;
}

._container {
  clear: both;
  width: 69.5833333333%;
  height: 501px;
  margin: 63px 0 0 15.16667%;
}

.element-1 {
  clear: both;
  z-index: 2;
  margin: -475px 0 0 3.64147%;
}

.element-2 {
  z-index: 3;
  margin: -480px 0 0 76.65606%;
}

.wrapper-1 {
  margin: 57px 0 0 30.375%;
}